*{
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif;
    
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    
}

h3{
    width: 70%;
    margin: -30px auto;
}

nav{
    background: rgb(79, 79, 100);
    height: 150px;
    width: 100%;
}

label.image {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 7px;
    font-weight: bold;

}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px ;
    /* padding: 0px 1px 2px 1px; */
    
}

nav ul li a {
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    
    
}

.fond{
    background: transparent;
    transition: all 0.2s ease-in-out;
    height: 50px;
    padding: 0px 5px 5px 5px;
    border-radius: 30px;
    
}

.fond:hover{
    background: #470202;
    
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.afro{
    height: 388px;
    
}

@media (max-width:952px) {

    label.image{
        font-size: 30px;
        /* padding-left: 0px; */
    }
    
    nav ul li a {
        font-size: 13px;
    }
}



@media (max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: absolute;
        width: 100%;
        height: 70vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: .5s;

    }

    nav ul li {
        display: block;
        margin: 0px 0 ;
        line-height: 30px ;
    }

    .cont {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }

    .afro{
        width: 276px;
        margin-bottom:50px ;
    }
    
    .im9{
        visibility: hidden;
    }

    h4{
        text-align: center;
        width: 200px;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 360px;
        
    }

    .cm{
        margin-right: 340px;
    }

    .mefor{
        
        width: 50%;
        height: 300px;
    }

    nav ul li a{
            /* font-size: 15px; */
            line-height: 60px;

    }

    a:hover, a.active{
        background: none;
        color: #0082e6;
        
    }

    #check:checked ~ ul{
        left: 0;
    }

    
    .slider{
        /* margin-top: 500px; */
        position: relative;
        
    }

    input{
        margin-right:30px ;

    }

    textarea {
        margin:auto;
    }

    .border7{
        margin-bottom: 50px;
        /* position: relative; */
        
    }

    .bissoni{
        margin-left: 15px;
    }

    

}

/* section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
} */


.barre{
    background-color: rgb(79, 79, 100);
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    height: 150px;
    position: relative;
}

.cat{
    
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    margin-left: 130px;
    height: 20px;
    border-radius: 30px;
    margin-top: 25px;
}

.ar{
    
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    height: 20px;
    border-radius: 30px;
    margin-left: 70px;
    margin-top: 25px;
}

.moi{
    
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    height: 20px;
    border-radius: 30px;
    margin-left: 70px;
    margin-top: 25px;
}

.nouv{
    
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    height: 20px;
    border-radius: 30px;
    margin-left: 70px;
    margin-top: 25px;
}

.rech{
    
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    height: 20px;
    border-radius: 30px;
    margin-left: 70px;
    margin-top: 25px;
}

.slider{
    box-shadow: 0 15px 47px rgba(0,0,0,0.2);
    /* border: 2px solid blue; */
    height: 500px;
    width: 70%;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    
}

.slides{
    width: calc(900px*5);
    animation: glisse 15s infinite;
    
}

.slide{
    float: left; 
    margin: 17px; 
    height: 400px;
    width: 600px;
} 

.slider .slides img{
    width: 600px;
    height: 400px;
}

    

/* reglages de la vitesse defillements des images */
@keyframes glisse{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-913px);
    }
    50%{
        transform: translateX(-1860px);
    }
    75%{
        transform: translateX(-2800px);
    }
    100%{
        transform: translateX(0);
    }

}

.pics{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    /* border: 2px solid teal; */
    margin: 70px auto 0;
    justify-content: space-between;
}

img{
    height: 350px;
    width:320px;
    /* border: 2px solid yellow; */
    margin: 30px auto;
}

.im9{
    height: 350px;
    width:320px;
    /* border: 2px solid yellow; */
    /* margin: 20px 340px 0 0; */
}

.signe{
    border-radius: 80px;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

.crea{
    margin-left: 123px;
    margin-top: 50px;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    background-color: rgb(114, 114, 114);
    width: 200px;
    /* border-radius: 30px; */
    box-shadow: 0 5px 17px rgba(0,0,0,0.6);
    transition: all 0.2s ease-in-out;
    border-radius: 50px;
}

.crea:hover{
    color: #790303;
}

.cont{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}

.bissoni{
    /* border: 2px solid red; */
    width: 70%;
    height: 348px;
    margin-top: 30px;
    box-shadow: 0 17px 77px rgba(0,0,0,0.2);
    padding: 20px;
}

.RetourEnHaut
{

    width: 70px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 7px;
    bottom: 20px;
    cursor: pointer;
    color: white;
    text-decoration: white;
    opacity: 0;
    transition: all .4s;


}

.RetourEnHaut.active{

        background-color: black;
        width: 65px;
        height: 13%;
        bottom: 32px;
        pointer-events: auto;
        opacity: 1;

        
}

.contact{
    
    /* display: flex; */
    /* flex-direction: column; */
    /* margin: auto; */
    background-image: url(tofs/depositphotos_31152539-stock-photo-abstract-background-grey-grunge-paper.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    min-width: 640px;
    height: 390px;
    min-height: 300px;   
    /* border: 2px solid red;  */
    padding-bottom: 56px;
}

input{
    font-size: 20px;
    margin-top: 10px;
    
    /* border: 2px solid green; */
}

h2{
  text-align: center;
 
  /* width: 190px;
  border: 2px solid red; */
}

.titre
{
    margin-bottom: 10px;
    /* text-align: center; */
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    margin: auto;
    /* border: 2px solid blue; */
    min-width: 400px;
    height: 300px;
    min-height: 380px;
    width: 80%; 
    
}

h2{
    margin-left: 350px;
}

.mefor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: auto; */
    margin: auto;
    justify-content: center;
   
}

input{
    margin-left: 30px;
}

.border8{
    margin-top: 20px;
    margin-bottom: -70px;
    margin-left: 35px;
    
}

.border7
{
    /* border:  2px solid red; */
    margin-top: 89px;
    margin-right: 5px;
}

.footer{
    background-color:  rgb(79, 79, 100);;
    background-repeat: no-repeat;
    /* background-position: fixed; */
    height: 250px;
    width: 100%;
    min-width: 640px;
    /* min-width: 849px; */
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    
    /* max-height: 300px; */
    /* margin-top: 30px;
    padding: 10px 0;  */
    color: white;
    /* border:  2px solid blue; */
}


.footer .social{
    text-align: center;
    padding-bottom: 2px;
    margin-top: 70px;
    color:rgb(66, 24, 66);    
    
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}


.footer p {
    transition: all 0.2s ease-in-out;
}

.footer p:hover{
    color: #790303;
}

.footer .social a:hover{
    opacity: 1.2;
    background-color: white;
}

.footer ul  {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
    line-height: 1.6;
    margin:auto;
    text-align: center;
    border:  2px solid yellow; 
    min-width: 849px;
    width: 900px;
}


.footer ul li a{
     
    /* color: inherit; */
    text-decoration: none;
    opacity: 0.8;
    
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
    
}

.footer ul li a:hover{
    opacity: 1;
}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size:18px;
    
}
p{
    margin: auto;
    padding: 10px;
    font-size: 16px;
   
}

.writh{
    margin:auto;
    transition: all 0.2s ease-in-out;
    font-size: 15px;
}

.writh:hover{
    color: #790303;
}

.acheter{

    background-color: rgb(114, 114, 114);
    width: 100px;
    margin: auto;
    padding: 10px;
    box-shadow: 0 5px 17px rgba(0,0,0,0.6);
    transition: all 0.2s ease-in-out;
    color: white;
}

.acheter:hover{
    background: #790303;
}


/* #icon-menu{
    visibility: hidden;
} */

@media screen and (max-width:945px){


    /* #icon-menu{
        visibility: visible;
        color: blue;
        margin-left: 90vw;
        width: 4vw;
        min-width: 5vw;
        margin-bottom: 30px;
        position: absolute;
        
    } */

    /* .barre{

            visibility: hidden;
            position: absolute;
            display: flex;
            flex-direction: column;
    } */

    
}


@media screen and (max-width:635px){
    .contact{
        margin-left: 10px;
    }
    
}
